body
{
    font: 1em Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 5px;
    color: Black;
    background-color: WhiteSmoke;
}
div
{
    padding: 0;
    margin: 0;
}
button
{
    cursor: pointer;
}
.hidden
{
    display: none;
}

#app
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    background-color: #bcb;
    background: -webkit-linear-gradient(top, #bcb, #585);
    background: -moz-linear-gradient(top, #bcb, #585);
    background: -ms-linear-gradient(top, #bcb, #585);
    background: linear-gradient(top, #bcb, #585);
}

#app>header
{
    padding: 0 0.5em;
    font-size: 1.5em;
    color: WhiteSmoke;
    background-color: #060;
}

#app>footer
{
    position: absolute;
    bottom: 0;
    padding: 0.25em;
    color: WhiteSmoke;
    background-color: #060;
}

#main
{
    max-width: 25em;
    min-width: 9em;
    margin: 1em auto;
}

#add-task label
{
    display: block;
    font-weight: bold;
}

#new-task-name
{
    font-size: 1em;
    display: block;
    width: 98%;
}

#task-name
{
    font-size: 1em;
    display: block;
    width: 98%;
}

#task-list
{
    padding: 0;
}

#task-list .task
{
    position: relative;
    list-style: none;
    padding: 0.5em;
    margin: 0.25em;
    background-color: beige;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

}

#task-list .task.selected
{
    padding: 0.6em 0.5em;
    border: 2px solid orange;
    border-radius: 6px;
    background-color: white;
}

#task-list .task:hover .tools,
#task-list .task.selected .tools
{
    opacity: 1;
}

#task-list li
{
    list-style: none;
    padding: 0.25em;
    margin: 0.25em;
}

#task-list .task .tools
{
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px;
    opacity: 0;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#task-list .task .tools button
{
    margin: 0;
    padding: 0;
    border: none;
    color: transparent;
    width: 16px;
    height: 16px;
    background: url(images/icons.png) no-repeat;
}

#task-list .task .tools button.delete
{
    background-position: 0 0;
}
#task-list .task .tools button.moveUp
{
    background-position: -16px 0;
}
#task-list .task .tools button.moveDown
{
    background-position: -32px 0;
}

#task-list .task input.task-name
{
    margin: 0;
    font-size: 1em;
}

#toolbar
{
    padding: 0.25em;
    font-size: 0.8em;
    color: WhiteSmoke;
    background-color: rgba(0, 0, 0, 0.4);
}
